body {
    font-family: "segoe ui";
    font-size: 30px;
    color: #EEEEEE;
    background-color: #141414;
}

.label {
    width: 450px;
    text-align: right;
}

.field, .label {
    float: left;
    padding: 4px;
    margin: 4px;
}

.field-row {
    clear: both;
    padding-top: 12px;
}

.extra-options {
    margin-left: 50px;
}

.subscript {
    font-size: 14px;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label, input[type=checkbox] + label{
    display: inline-block;
    margin: -4px;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #E69533;
    cursor: pointer;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-color: #E69533;
}

input[type=url], input[type="number"] {
    font-size: 25px;
    color: white;
    background-color: #141414;
    border: 1px solid #E69533;
}

input[type="number"] {
    width: 100px;
}

#rotten-tomatoes-audience-div {
    padding-top: 17px; /*dirty hack to fix alignment*/
    margin-right: 50px;
}

#debug {
    padding-top: 20px;
}

.thanks {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.thanks li {
    list-style-type: square;
}

.thanks a {
    color: #E69533;
}