body {
    font-family: "segoe ui";
    font-size: 30px;
    color: #EEEEEE;
    background-color: #141414;
}

.label {
    width: 350px;
    text-align: right;
}

.field, .label {
    float: left;
    padding: 4px;
    margin: 4px;
}

.field-row {
    clear: both;
    padding-top: 20px;
}

.extra-options {
    margin-left: 50px;
}

.subscript {
    font-size: 14px;
}

input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label, input[type=checkbox] + label{
    display: inline-block;
    margin: -4px;
    padding: 4px 12px;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #E69533;
    border-color: #E69533 #E69533 #E69533;
    cursor: pointer;
}

#rotten-tomatoes-audience-div {
    padding-top: 17px; /*dirty hack to fix alignment*/
    margin-right: 50px;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-color: #E69533;
}

#debug {
    margin-top: 120px;
}

#save {
    float: left; 
    clear: both;
    margin-top: 50px;
    margin-left: 110px;
    background: none;
    color: #E69533;
    border: 1px solid #E69533;
    border-color: #E69533 #E69533 #E69533;
    cursor: pointer;
    font-size: 40px;
}

#save:hover, #save:focus {
    background-color: #E69533;
    color: #EEEEEE;
    outline: 0;
}

.thanks {
    font-size: 20px;
    position: absolute;
    right: 0;
}

.thanks li {
    list-style-type: square;
}

.thanks a {
    color: #E69533;
}