body {
    font-family: "segoe ui";
    font-size: 30px;
    background-color: #1f1f1f;
    padding-top: 50px;
    margin: 0;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #000000;
    opacity: 0.4;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
}

#nav:hover {
    opacity: 1.0;
}


#genre-chart, #year-chart {
    width: 100%;
    height: 500px;
}

.c3-legend-item text, .tick text {
    fill: #FFFFFF;
    font-size: 1.3em;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: #FFFFFF;
}