body {
    font-family: "segoe ui";
    font-size: 30px;
    background-color: #000000;
}

#genre-chart, #year-chart {
    width:100%;
    height:500px;
}

.c3-legend-item text, .tick text {
    fill: #FFFFFF;
    font-size: 1.3em;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: #FFFFFF;
}