body {
    font-family: "segoe ui";
    font-size: 30px;
    background: url(/resources/stats_bg.png);
    padding-top: 50px;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #000000;
    opacity: 0.4;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
}

nav:hover {
    opacity: 1.0;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    margin-top: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    float: left;
}
    nav ul:after {
        content: "";
        clear: both;
        display: block;
    }

    nav ul li {
        float: left;
    }
        nav ul li:hover a {
            color: #fff;
        }

        nav ul li a {
            display: block;
            padding: 5px 40px;
            margin: auto;
            color: #707070;
            text-decoration: none;
        }

    nav ul ul {
        background: #000000;
        border-radius: 0px;
        padding: 0;
        position: absolute;
        top: 100%;
    }
        nav ul ul li {
            float: none;
            border-bottom: 1px solid #FFFFFF;
            position: relative;
        }
        nav ul ul li:first-child {
            border-top: 1px solid #FFFFFF;
        }
            nav ul ul li a {
                padding: 10px 40px;
            }
                nav ul ul li a:hover {
                    background: #2B2B2B;
                }

.row-container {
    height: 600px;
    clear: both;
    padding-bottom: 80px;
}

.chart-title-container {
    height: 50px;
    font-size: 1.5em;
    color: #FFFFFF;
    padding-bottom: 20px;
    clear: both;
}

.chart-title-left {
    margin-left: 50px;
    float: left;
}

.chart-title-right {
    margin-right: 50px;
    float: right;
}

.chart-container {
    height: 550px;
}

.chart {
    height: 100%;
}

.chart-left {
    float: left;
}

.chart-right {
    float: right;
}

#year-chart {
    width: 90%;
    margin: auto;
}

/* hacky fix for x axis label being cut off */
#year-chart svg {
    height: 600px;
}

#genre-chart, #content-rating-chart {
    width: 50%;
    margin: auto;
}

.c3-axis-x-label, .c3-axis-y-label {
    fill: #FFFFFF;
    font-size: 1.7em;
}

.c3-legend-item text, .tick text {
    fill: #FFFFFF;
    font-size: 1.3em;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: #FFFFFF;
}