#overlay {
    display: none;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#letterboxd-link, #trakt-container, #tvdb-container, #rotten-tomatoes-container, #imdb-container, #themoviedb-container {
    display: block;
    margin-bottom: 30px;
    margin-left: 5px;
}

#trakt-rating, #rotten-tomatoes-critics-score, #rotten-tomatoes-audience-score {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: auto;
    margin: 0;
}

#rotten-tomatoes-container {
    text-decoration: none !important;
    color: white !important;
}

#rotten-tomatoes-text-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#rotten-tomatoes-critics-score, #rotten-tomatoes-audience-score {
    float: right;
    margin-right: 5px;
}

#rotten-tomatoes-critics-rating-image, #rotten-tomatoes-audience-rating-image {
    margin-right: 5px;
}

#rotten-tomatoes-ratings-container {
    min-height: 34px;
}

#trakt-rating-image {
    margin-right: 5px;
}

#imdb-logo {
    display: inline-block;
    vertical-align: middle;
}

#imdb-rating {
    line-height: 50px;
    height: 45px;
    width: 52px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'tahoma';
    cursor: pointer;
}

.btn-trailer {
    background: #CD201F !important;
    box-shadow: inset 0 1px 0 #DA2D2C !important;
    -webkit-box-shadow: inset 0 1px 0 #DA2D2C !important;
    -moz-box-shadow: inset 0 1px 0 #DA2D2C !important;
    line-height: 1.1em !important;
}

.btn-trailer:hover {
    background: #DA2D2C !important;
}

#trailer {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 1024px;
    height: 576px;
    margin-left: -512px; /*half width*/
    margin-top: -288px; /*half height*/
    z-index: 5001;
}

#random-poster {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 450px;
    height: 750px;
    margin-left: -225px; /*half width*/
    margin-top: -375px; /*half height*/
    z-index: 5001;
}

#random-poster img {
    width: 450px;
    height: 675px;
    cursor: pointer;
    cursor: hand;
}

#pick-random {
    color: #999;
    margin-left: 15px;
    cursor: pointer;
    cursor: hand;
}

#pick-random:hover {
    color: #EEE;
}

#refresh-random {
    color: #999;
    font-size: 50px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 5001;
    cursor: pointer;
    cursor: hand;
}

#refresh-random:hover {
    color: #EEE;
}

#missing-switch {
    cursor: pointer;
    cursor: hand;
}

.media-poster-overlay-missing-episode, .media-poster-overlay-missing-season {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: black;
}

.media-poster-overlay-missing-episode:hover, .media-poster-overlay-missing-season:hover {
    opacity: 0.85;
    box-shadow: 0 0 4px rgba(0,0,0,.3), inset 0 0 0 2px #cc7b19;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3), inset 0 0 0 2px #cc7b19;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.3), inset 0 0 0 2px #cc7b19;
}

.overlay-missing-episode-text {
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.overlay-missing-season-text {
    margin-top: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}

#canistreamit-container {
    height: 200px;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.split-text {
    margin-left: 10px;
    font-size: 11px;
    cursor: pointer;
    cursor: hand;
}

.split-hide {
    color: #999;
}

.split-show {
    color: white;
}

#actor-overlay {
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    background-color: #111111;
    width: 800px;
    height: 320px;
    z-index: 5000;
}

#actor-overlay-img {
    float: left;
    min-height: 310px;
    margin-right: 10px;
}

#actor-text {
    width: auto;
    padding: 5px;
    max-height: 320px;
}

#actor-text-name {
    margin-top: 5px;
    margin-bottom: 7px;
}

#actor-text-role {
    margin-bottom: 10px;
}

#actor-text-born, #actor-text-died {
    margin-bottom: 5px;
}

#actor-text-birthplace {
    margin-bottom: 20px;
}

#actor-text-biography {
    height: 125px;
    overflow-y: auto;
}

.update-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 524px;
    height: 500px;
    text-align: justify;
    margin-left: -262px; /*half width*/
    margin-top: -250px; /*half height*/
    z-index: 5001;
}

.update-box img {
    display: block;
    margin: 0 auto;
}

.update-box p {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

#loading-extension {
    line-height: 60px;
    vertical-align: middle;
    padding-right: 10px;
}